@model KnowledgeSystem.Models.Question.StartingTestQuestionViewModel
@using KnowledgeSystem.Models
@{
    ViewBag.Title = "TestStarting";
}
@{
    var url = Url.Action("Завершить тест", "TestResult", new { testId = Model.QuestionPageInformation.TestId });

}
<script src="~/Scripts/Timer.js"></script>
<div id="tick"></div>
@using (Html.BeginForm("CheckAnswer", "TestCheckAnswer", new { testid = Model.QuestionPageInformation.TestId, questionId = Model.QuestionPageInformation.QuestionId }))
{
    foreach (var itemm in Model.Question)
    {
        <form>
            <p><b>@itemm.Text</b></p>

            @foreach (var item in Model.Variants)
            {
                <p><input name=@Model.QuestionPageInformation.QuestionId type="radio" value='@item' onclick="@Url.Action("TestCheckAnswer", "Test")"> @item.Text</p>
            }
        </form>
    }

    <div>
        <button class=" btn btn-success">@Html.ActionLink("Проверить", "TestCheckAnswer", new { @*testId = Model.QuestionPageInformation.TestId*@})</button>
    </div>
}

<div>
    <button class=" btn btn-success">@Html.ActionLink("Завершить тест", "TestResult", new { testId = Model.QuestionPageInformation.TestId })</button>
</div>
<br />
