@model KnowledgeSystem.Models.Question.StartingTestQuestionViewModel

@{
    ViewBag.Title = "TestStarting";
}
@{
    var url = Url.Action("Завершить тест", "TestResult", new { testId = Model.QuestionPageInformation.TestId });

}
<script src="~/Scripts/Timer.js"></script>
<link type="text/css" rel="stylesheet" href="../../Content/style3.css" />
<div id="tick"></div>
@using KnowledgeSystem.Models.Variant;
@using (Html.BeginForm("CheckAnswer", "TestCheckAnswer", new { testid = Model.QuestionPageInformation.TestId, questionId = Model.QuestionPageInformation.QuestionId }))
{
    foreach (var itemm in Model.Question)
    {
        <form>
            <p><b>@itemm.Text</b></p>

            @foreach (var item in Model.Variants)
            {
                <p>
                    @Html.RadioButtonFor(Model => Model.UserVatiants, @item.Text) @item.Text
                    @*<input name=@Model.QuestionPageInformation.QuestionId type="radio" value='@item' onclick="@Url.Action("TestCheckAnswer", "Test")"> @item.Text*@
                </p>
            }
        </form>
    }

    <div>
        <button class=" btn btn-success">@Html.ActionLink("Проверить", "TestCheckAnswer", "", new { @class = "actionlink" })</button>
    </div>
}

<div>
    <button class=" btn btn-success">@Html.ActionLink("Завершить тест", "TestResult",  "", new { @class = "actionlink" })</button>
</div>
<br />
